.fondo {
	background-image: url("https://cdn.pixabay.com/photo/2015/10/12/14/51/road-983911_960_720.jpg");
	background-size: 100%;
	background-size: cover; 
	height: 800px;
}

.tipografia{
	font-family: Montserrat, sans-serif;	
}

.navbar-default{
	color: black;
}
.navbar {
	background: transparent;
	border: 0;
	margin: 0; 
	float: right; 
}

h3 {
	font-size: 40px; 
	font-style: bold;
	font-family: Montserrat, sans-serif;
}

.bajada{
	font-style:italic;
} 
.titulopag{
	margin: 50px;
	padding:50px;
}
h1{
	font-size: 70px;
	text-transform: uppercase; 
	font-family: Montserrat, sans-serif;
} 

.subtitulo{
	font-size: 40px; 
	font-style:italic;
} 

.boton1{
	background-color: #fed136;
	padding: 20px; 
	text-transform: uppercase;
} 

.gris{
	background: #eee;
} 

a{
	text-decoration: none;
} 

.logos-servicios{
	text-align: center;
	background: orange;
	border-radius: 50%;
	width: 100px;
	height: 100px; 
} 

.logos-servicios span {
	line-height: 100px; 
	color: white; 
	font-size: 60px;
}

.services{
	display: inline-block;
} 

h4{
	font-family: Montserrat, sans-serif;
}

p {
	font-family: Montserrat, sans-serif;
} 

.colorletra { 
	color: black;
 } 

.thgris {
	background: #eee; 
	border:none;
} 

.contact {
	background-image: url(https://cdn.pixabay.com/photo/2015/08/03/02/14/phone-872814_960_720.jpg);
	background-size: 100%;
	background-size: cover; 
	height: 800px;
} 

.thblanco {
	border:none;
} 

.about {
	max-width: 600px;
} 

.clientes {
	padding: 30px;
} 

.footer {
	height: 50px;
}

.form {
	float: right;
} 

.form-control {
	font-family: Montserrat, sans-serif;
	font-color:grey;
}

.mensaje {
	height: 150px; 
} 

.copyright {
	padding: 40px; 
	display: inline-block;
} 

.iconos-footer {
	margin: 20px; 
	font-size: 30px; 
	color: white; 
	text-align: center; 
} 

.fondoicono-footer {
	background-color: black; 
	border-radius: 50%; 
	height: 50px;
	width: 50px; 
	display: inline-block; 
	padding: 5px;
} 

.navfooter {
	padding: 20px;
	color: orange; 
	float: right; 
	font-family: Montserrat, sans-serif; 

} 

